<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="header-total">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

            <!-- ?<p>Lugar para poner la barra de búsqueda</p> -->
            
            <div class="input">
                <input class="buscador" type="text" placeholder="Buscar productos, marcas" size="25">
                <div class="fa fa-search">
                    <input type="submit" value="">
                </div>
            </div>    
        
        <p class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
    </div>
        <!-- <img src="img/img-home-banner.jpg" alt="img-home-banner"width="100%"> -->
        <nav class="navigation">
            <ul class="nav1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav2">
                <li><a href="/registro">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <main>
        <h2>Basado en tu última oferta</h2>
        <section>            
            <nav>
                <ul class="bordes">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="precios-datos">
                    <div class="domicilio">
                        <li class="circulo"><i class="fas fa-truck"></i>
                    </div>
                    <div class="precios2">
                        <li class="precios">$6.770</li>
                        <li class="desc">40% OFF</li>
                    </div> 
                    <div>   
                        <li class="desc2"> Cafetera Moulinex</li>
                    </div>
                </div>
                </ul>
            </nav>
            <nav>    
                <ul class="bordes">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div> 
                        <div class="precios2">
                            <li class="precios">$230.000</li>                    
                            <li class="desc">20% off</li> 
                        </div>                       
                        <div>
                            <li class="desc2">Macbook Pro 2019</li>
                        </div>                   
                        
                    </div>    
                </ul>            
            </nav>
            <nav>
                <ul class="bordes">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div>     
                        <div class="precios2">
                            <li class="precios">$70.500</li>
                            <li class="desc">10% off</li>
                        </div>                   
                        <div>
                            <li class="desc2">Samsung Galaxy S10</li>
                        </div>                       
                    </div>
                </ul> 
            </nav>
            <nav>    
                <ul class="bordes">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div>           
                        <div class="precios2">
                            <li class="precios">$23.200</li>
                            <li class="desc">5% off</li>
                        </div>             
                        <div>
                            <li class="desc2">SmartTv Samsung 43</li>
                        </div>                        
                    </div>    
                </ul>
            </nav>    
        </section>
        <h2>Sección de Ofertas</h2>
        <section>  
            <nav>
                <ul class="bordes">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div>      
                        <div class="precios2">
                            <li class="precios">$6.770</li>
                            <li class="desc">40% OFF</li>
                        </div>                  
                        <div>
                            <li class="desc2"> Cafetera Moulinex</li>
                        </div>                        
                    </div>
                </ul>
            </nav>
            <nav>    
                <ul class="bordes">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div> 
                        <div class="precios2">
                            <li class="precios">$230.000</li>
                            <li class="desc">20% off</li>
                        </div>                       
                        <div>
                            <li class="desc2">Macbook Pro 2019</li>
                        </div>
                    </div>    
                </ul>
            </nav>
            <nav>    
                <ul class="bordes">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div>               
                        <div class="precios2">
                            <li class="precios">$70.500</li>
                            <li class="desc">10% off</li>
                        </div>                         
                        <div>
                            <li class="desc2">Samsung Galaxy S10</li>
                        </div>
                    </div>    
                </ul> 
            </nav>
            <nav>                            
                <ul class="bordes">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="precios-datos">
                        <div class="domicilio">
                            <li class="circulo"><i class="fas fa-truck"></i>
                        </div>                
                        <div class="precios2">
                            <li class="precios">$23.200</li>
                            <li class="desc">5% off</li>
                        </div>                                
                        <div>
                            <li class="desc2">SmartTv Samsung 43</li>
                        </div>
                    </div>        
                </ul>
            </nav>
        </section>
    </main>
    <footer>
        <ul type="none">
            <div>
                <li class="margin"><i class="fas fa-credit-card"></i></li>
                <li><b>Pagá con tarjeta o en efectivo</b>
                <li>Con Mercado Liebre Cash, tenés cuotas sin interés contarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</li>
            </div>
            <div>
                <li class="margin"><i class="fas fa-gift"></i></li>
                <li><b>Envío gratis desde $ 2.500</b></li>
                <li>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</li>
            </div>
            <div>
                <li class="margin"><i class="fas fa-user-shield"></i></li>
                <li><b>Seguridad, de principio a fin</b><li> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</li>                
            </div>
        </ul>
        <ul>
            <li class="copy"><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></li>
        </ul>
            
    </footer>
</body>
</html>